@page "/"

<PageTitle>Index</PageTitle>

<h1>IPC analysis web application</h1>

<p>Welcome to the Blazor Web Application that aims to analyze the usage of Industrial PCs (IPCs) to effectively manage their utilization.</p>

<p>In the left menu you can find the analysis tool.</p>

<p>Author: Dario Cantella</p>